.gradient-custom {
    /* fallback for old browsers */
    background: #91c9f1;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}
.Bmi-cal{
    height: 500px;
    background: rgb(40,107,151);
    background: linear-gradient(90deg, rgba(40,107,151,1) 0%, rgba(9,51,121,1) 40%, rgba(0,21,155,1) 89%);
}
.member{
    
    height: auto;
    padding-left: 500px;
    height: 500px;
}
.frm2{
    padding-left: 10px;
    border: 5px solid black;
    border-radius: 10px;
    height: auto;
    width:550px;
    background: rgb(40,107,151);
    background: linear-gradient(90deg, rgba(40,107,151,1) 0%, rgba(56,131,255,1) 41%, rgba(10,159,255,1) 89%);
}
.frm2 h2{
    align-self: center;
}
.ins-cont{
    display: flex;
}
.BMI{
    padding-left: 30%;
    padding-top:100px;
    
}
.bmi-c{
    border: 5px solid black;
    border-radius: 10px;
    width: 500px;
    
}

footer{
    padding: 32px;
    background-color:rgba(0, 0, 0, 0.484) ;
}